[run]
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    transakt/settings/*
    */wsgi.py
    */asgi.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if __name__ == .__main__.:
    raise NotImplementedError
    # defensive code patterns

ignore_errors = True